<!--suppress HtmlUnknownTarget -->
<div class="about-img">
  <img src="./assets/images/about-img.png">
</div>
<div style="background: #ffffff">
  <div class="about">
    <h3>关于我们1</h3>
    <p>广东昱昊互联网科技有限公司</p>
    <div class="about-icon">
      <p>
        广东昱昊投资是一家拥有八年经验的以连锁装修事业、家具事业、贸易事业三大板块为支撑的一站式服务型集团公司。集团旨在实现全方位、多层次、宽领域资源整合。主要服务对象是：连锁便利店、化妆品连锁店、服装连锁店、珠宝连锁店、餐饮连锁店等。</p>
      <div style="display: flex">
        <div style="flex: 1">
          <div class="custom-image">
            <img alt="example" width="146px" src="./assets/images/about-yuanjing.png"/>
          </div>
          <div class="custom-card">
            <p>成为全球连锁品牌<br>第一综合服务商</p>
          </div>
        </div>
        <div style="flex: 1;padding-bottom: 10px">
          <div class="custom-image">
            <img alt="example" width="146px" src="./assets/images/about-shiming.png"/>
          </div>
          <div class="custom-card">
            <p>让连锁品牌的发展<br>变得简洁高效</p>
          </div>
        </div>
        <div style="flex: 1">
          <div class="custom-image">
            <img alt="example" width="146px" src="./assets/images/about-jingshen.png"/>
          </div>
          <div class="custom-card">
            <p>奉献、拼搏<br>敬业、踏实</p>
          </div>
        </div>
        <div style="flex: 1">
          <div class="custom-image">
            <img alt="example" width="146px" src="./assets/images/about-zuofeng.png"/>
          </div>
          <div class="custom-card">
            <p>认真！快！坚守承诺！<br>坚决执行！绝不找借口！</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="about">
  <h3>联系我们</h3>
  <p>欢迎您前来考察，来访前请致电客服预约时间</p>
  <div class="contact">
    <h4>地址</h4>
    <p>广东省广州市番禺区石基镇华创动漫产业园二期17栋</p>
    <h4>邮编</h4>
    <p>511400</p>
    <h4>电话</h4>
    <p>400-605-2298</p>
    <div class="bd-company-map">
      <iframe width="554" height="365" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
              src="//j.map.baidu.com/QN4lO"></iframe>
    </div>
  </div>
</div>
