<nz-spin [nzSpinning]="loading" [nzSize]="'large'" [nzTip]="'Loading...'">
  <div class="modal-header">
    <div class="modal-title">管理员角色管理</div>
  </div>
  <nz-list
    class="demo-loadmore-list"
    [nzDataSource]="roles"
    [nzItemLayout]="'horizontal'"
    [nzRenderItem]="item">
    <ng-template #item let-item>
      <nz-list-item [nzActions]="[selectAction]">
        <nz-skeleton [nzAvatar]="true" [nzActive]="true" [nzLoading]="loading">
          <ng-template #selectAction>
            <nz-switch [ngModel]="userRoleIds.indexOf(item.id) != -1" (ngModelChange)="ngModelChange( $event, item.id )"></nz-switch>
          </ng-template>
          <nz-list-item-meta
            [nzTitle]="nzTitle"
            [nzAvatar]="oss+item.avatar"
            [nzDescription]="nzDescription">
            <ng-template #nzTitle>
              {{item.name}}
            </ng-template>
            <ng-template #nzDescription>
              <nz-tag [nzColor]="'green'">{{item.code}}</nz-tag>
              <br/>
              <span class="description">{{item.notes}}</span>
            </ng-template>
          </nz-list-item-meta>
        </nz-skeleton>
      </nz-list-item>
    </ng-template>
    <!--<ng-template #loadMore>
      <div class="loadmore">
        <button nz-button *ngIf="!loading" (click)="onLoadMore()">loading more</button>
      </div>
    </ng-template>-->
  </nz-list>
  <div class="modal-footer">
    <button nz-button [nzType]="'default'" [nzLoading]="loading" (click)="cancel('onCancel')">
      取消
    </button>
    <button nz-button [nzType]="'primary'" [nzLoading]="loading" (click)="submit()">
      确定
    </button>
  </div>
</nz-spin>
